.calendarContainer {
    width: 100%; 
    margin: 0 auto; 
    border: 1px solid #ddd; 
    padding: 10px; 
    height: 100; 
  }
  
  .fc .fc-toolbar-title {
    font-size: 1.25em; 
  }
  
  .fc .fc-daygrid-event {
    font-size: 0.75em; 
  }
  
  .fc .fc-daygrid-day-number {
    font-size: 0.75em; 
  }
  